{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2>List of Courses for Following Criteria</h2>

    <p>Semester: <b>{{ semester }}</b> <i>(F = Fall, S = Spring, U = Summer)</i>
    <br>Year: <b>{{ academic_year }}</b>
    <br>Category: <b>{{ user_category }}</b>
    <br>Specialization: <b>{{ specialization }}</b>
    <br>Credits: <b>{{ credits }}</b>
    <br>Days: <b>{{ days }}</b></p>
    
    <p style="color:red;">There are <b>{{ results_count }}</b> courses that meet your criteria.</p>

    <h1>{{name}}</h1>
    {{data | safe}}
  

    <!-- TODO: consider using a table instead of a list -->
    <!-- https://www.w3schools.com/html/html_tables.asp -->
    <!-- https://getbootstrap.com/docs/4.0/content/tables/ -->
    <ul>

    </ul>

{% endblock %}